spring:
  profiles:
    active: local
  datasource:
    driver-class-name: org.mariadb.jdbc.Driver
    url: jdbc:mariadb://localhost:3307/auction?characterEncoding=UTF-8&serverTimezone=UTC
    username: root
    password: root

  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true #To beautify or pretty print the SQL
        show_sql: true #show sql

jwt:
  secret: a21ob29uLW15LXBldC1kaWFyeS1hcHBsaWNhdGlvbi1kaWFyeS1wZXQtbXkta21ob29u
  time:
    access: 3600000
    refresh: 86400000